# .env
# Bot Configuration
BOT_PREFIX=.
BOT_MODE=public
BOT_VERSION=1.0.0
BOT_FOOTER=ᴘᴏᴡᴇʀᴇᴅ ʙʏ yaseen king

# Connection Settings
MAX_RETRIES=3
OTP_EXPIRY=300000

# Status Automation
AUTO_VIEW_STATUS=true
AUTO_LIKE_STATUS=true
AUTO_RECORDING=true

# Group Settings
GROUP_INVITE_LINK=

# File Paths
ADMIN_LIST_PATH=./admin.json
SESSION_BASE_PATH=./session
NUMBER_LIST_PATH=./numbers.json

# Media URLs
RCD_IMAGE_PATH=https://kommodo.ai/i/7WdQ4ifWA5jgP7XYndSr
MENU_IMAGE_URL=https://kommodo.ai/i/7WdQ4ifWA5jgP7XYndSr

# Newsletter Settings
NEWSLETTER_JID=120363402507750390@newsletter
NEWSLETTER_MESSAGE_ID=428

# Owner Settings
OWNER_NUMBER=923098862724

# Channel Links
CHANNEL_LINK=https://whatsapp.com/channel/0029VbCU4wh1CYoTghRO5Q1e
WEBSITE_LINK=https://xd-web-omega.vercel.app/

# GitHub Settings
GITHUB_OWNER=dev-Yking
GITHUB_REPO=session
GITHUB_TOKEN=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

# API Keys
TIKTOK_API_KEY=free_key@maher_apis
NASA_API_KEY=8vhAFhlLCDlRLzt5P1iLu2OOMkxtmScpO5VmZEjZ
OPENWEATHER_API_KEY=2d61a72574c11c4f36173b627f8cb177

# Server Settings
PORT=3000
NODE_ENV=development
PM2_NAME=YASEEN-MINI-main